.App {
  box-sizing: border-box;
  margin: 0;
  /* padding: 3.5rem 0; */
}

@keyframes transitionIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes transitionLeft {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}
