.dashboard {
    margin: 0 100px;
    padding: 3.5rem 0;
}

.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.input-div input {
    width: 50rem;
    height: 3rem;
    border: none;
    padding: 0 20px;
    outline: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    font-size: 1.4rem;
}

.input-div input:active{
    border: none;
}

.selection-contanier {
    display: flex;
    flex-wrap: wrap;
}


.select-school-div, .tag-container {
    margin: 1rem;
}