.teacher-badge{
    height: 350px;
    width: 250px;
    padding: 10px 10px;
    background-color: #e7e8e9;
    margin:10px 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transition: all .5s;
}

.teacher-badge:hover{
    transform: scale(1.04);
    box-shadow: 4px 5px 2px rgba(0, 0, 0, 0.13);
}

.t-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.t-image img{
    height: 100px;
    width: 100px;

    border-radius: 100px;
}

.badge-content{
    color: rgb(117, 117, 117);
    text-align: center; 
}

hr {
    width: 8rem;
    border: 1px solid grey;
    border-radius: 20px;
    color: rgb(146, 146, 146);
}