.teacher-profile {
  position: relative;
  animation: transitionIn 1s;
}
.teacher-profile img {
  height: 250px;
  width: 250px;
  border-radius: 400px;
  background-color: #dee2e6;
  border: 5px solid rgb(61, 61, 61);
}

.teacher-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -10rem;
}

.input-div textarea {
  width: 100%;
  height: 5rem;
  border: none;
  outline: none;
  padding: 0 20px;
  border-bottom: 2px solid gray;
  background-color: transparent;
  font-size: 1rem;
  resize: none;
}

.input-div textarea:active {
  border: none;
}

.pro-bg-color {
  /* position: absolute; */
  background: linear-gradient(45deg, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  border-bottom: 4px solid rgb(85, 85, 85);
  height: 15rem;
  min-width: 100%;
}

.profile-container {
  margin: 0 5rem;
}

.meet-btn button {
  padding: 0.5rem 2rem;
  border: 1.5px solid grey;
  cursor: pointer;
  box-shadow: 5px 5px 2px rgba(0, 0, 255, 0.2);
  font-family: "Poppins", sans-serif;
  margin-right: 1rem;
}
.call {
  background-color: #1cfa92;
}
.call:hover {
  background-color: #2bbd79;
}

.session {
  background-color: rgb(133, 189, 235);
}
.session:hover {
  background-color: rgb(86, 149, 201);
}

.meet-btn button:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.2);
}

.popup {
  display: block;
  position: absolute;
  z-index: 100;
  height: 50rem;
  background-color: green;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-box {
  position: fixed;
  background: #00000050;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: 40rem;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(196, 196, 196);
  border-radius: 10px;
  padding: 20px;
  /* border: 1px solid #999; */
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(25% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.popup-input{
    width: 95%;
    margin: .1rem 0;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(212, 209, 209);
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    resize: none;
}

.popup-input:focus{
    outline: 2px solid #309ee7;
    box-shadow: 0 0 10px #43b0f8;
}
.popup-name{
  color: #6d64f1;
  text-decoration: underline;
}

.popup-call{
    margin-top: 1rem;
    width: 100%;
    background-color: #1cfa92;
}

.cnf-h1{
  color: rgb(82, 82, 82);
  font-size: 2.5rem;
  margin-bottom: -1rem;
}

.date-picker {
  margin-top: 1rem;
}