.teacher-profile {
    margin: 10vh;
}
.teacher-profile img {
    height: 250px;
    width: 250px;
    border-radius: 400px;
}

.teacher-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.input-div textarea {
    width: 40rem;
    height: 3rem;
    border: none;
    outline: none;
    padding: 0 20px;
    border-bottom: 2px solid gray;
    background-color: transparent;
    font-size: 1.4rem;
}

.input-div textarea:active{
    border: none;
}